# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.env

# SQLite
*.db
*.sqlite3

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
